<%- include('layouts/header') %>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Product Details</h1>
      <h2><%= product.summary %></h2>
      <img src="/uploads/<%= product.image %>" alt="<%= product.summary %> Image" class="img-fluid">
      <p><strong>Condition:</strong> <%= product.condition %></p>
      <p><strong>Description:</strong> <%= product.description %></p>
      <p><strong>Price:</strong> $<%= product.price.toFixed(2) %></p>
      <p><strong>Location:</strong> <%= product.location %></p>
      <p><strong>Material:</strong> <%= product.material %></p>
      <!-- Add other product details here -->
    </div>
  </div>
</div>

<%- include('layouts/footer') %>
